services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - DATABASE_URL=${DATABASE_URL:-postgresql://nest_example_user:cDSM5Pe38utIeTjVaCNGQLZoMXISY137@dpg-d4pkosa4d50c73clum3g-a.oregon-postgres.render.com/nest_example?sslmode=require}
    image: reservation-app
    container_name: reservation-app
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL:-postgresql://nest_example_user:cDSM5Pe38utIeTjVaCNGQLZoMXISY137@dpg-d4pkosa4d50c73clum3g-a.oregon-postgres.render.com/nest_example?sslmode=require}
      - JWT_SECRET=${JWT_SECRET:-e59bba61b69e1e12b787db4c6998073abf35091bfe317f12bc75d085fa77d43ab2db7df1fd717d5fb12d2f6afdf0b471550fa3d1972b98923da765641ef9cb6}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY:-sk_test_your_stripe_secret_key}
      - EMAIL_HOST=${EMAIL_HOST:-smtp.gmail.com}
      - EMAIL_PORT=${EMAIL_PORT:-587}
      - EMAIL_USER=${EMAIL_USER:-your-email@gmail.com}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD:-your-app-password}
    restart: unless-stopped
